/* colors */
body, main {
  position: relative;
  max-width: 1240px;
  margin: auto;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.mx-3 {
  margin: 1em 0;
}

.my-3 {
  margin: 0 1em;
}

body {
  font-family: Lato, "DM Sans", sans-serif;
}

p {
  font-family: Roboto;
}

.btn {
  min-width: 170px;
  height: 69px;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: start;
  padding-left: 1em;
  position: relative;
}
.btn__primary {
  background-color: #3282F7;
}
.btn__secondary {
  background-color: #68D9A4;
}
.btn__tertiary {
  background-color: #ED6454;
}
.btn__group {
  display: flex;
  justify-content: start;
}

.input__search {
  min-width: 670px;
  height: 69px;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: start;
  padding-left: 1em;
  position: relative;
  outline: none;
}
.input__search__primary {
  background-color: #3282F7;
}
.input__search__secondary {
  background-color: #68D9A4;
}
.input__search__tertiary {
  background-color: #ED6454;
}

.fa-search {
  position: absolute;
  right: 1em;
  top: 50%;
  font-size: 32px;
  margin-top: -16px;
}

.fa-chevron-down {
  position: absolute;
  right: 1em;
  top: 1.5em;
}

.fa-chevron-up {
  color: #fff;
  position: absolute;
  right: 1em;
  top: 1.5em;
  cursor: pointer;
}

.header {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main form, .main .first__form {
  position: relative;
}
.main .first__form {
  margin: 1em auto;
}
.main .first__form__input {
  width: 100%;
  height: 69px;
  background-color: #E7E7E7;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 1em;
}

.btn__group__search {
  position: relative;
}

.ingredients__menu, .appliance__menu, .ustensils__menu {
  border-radius: 0 0 5px 5px;
  position: absolute;
  top: 65px;
  overflow: hidden;
}
.ingredients__menu ul, .appliance__menu ul, .ustensils__menu ul {
  margin-top: -5px;
  list-style: none;
  padding: 0;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(222px, auto));
  max-width: 666px;
  max-height: 328px;
  font-size: 18px;
  padding: 12px;
}
.ingredients__menu li, .appliance__menu li, .ustensils__menu li {
  padding: 5px;
  cursor: pointer;
}
.ingredients__menu li:hover, .appliance__menu li:hover, .ustensils__menu li:hover {
  color: #C7BEBE;
}

.ingredients__menu {
  background-color: #3282F7;
}

.appliance__menu {
  background-color: #68D9A4;
}

.ustensils__menu {
  background-color: #ED6454;
}

.selected__items {
  display: flex;
  justify-content: start;
  text-align: center;
  margin: 1em auto;
}
.selected__items .item {
  border-radius: 5px;
  padding: 0.5em 1em;
  margin-right: 0.5em;
  font-size: 14px;
  color: #fff;
}
.selected__items__ingredient {
  background-color: #3282F7;
}
.selected__items__appliance {
  background-color: #68D9A4;
}
.selected__items__ustensil {
  background-color: #ED6454;
}

.recipes {
  margin-top: 1.5em;
  margin-bottom: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, auto));
  gap: 50px;
}
.recipes .recipe {
  background-color: #E7E7E7;
  border-radius: 5px;
}
.recipes .recipe__img {
  height: 178px;
  background-color: #C7BEBE;
  border-radius: 5px 5px 0 0;
}
.recipes .recipe__details {
  padding: 20px 18px 15px 20px;
  display: grid;
  grid-template-areas: "a a a b" "c c d d";
  height: 186px;
}
.recipes .recipe__details h2, .recipes .recipe__details h3 {
  margin: 0;
  font-size: 18px;
}
.recipes .recipe__details h2 {
  grid-area: a;
  font-weight: 400;
}
.recipes .recipe__details h3 {
  grid-area: b;
  font-weight: 700;
}
.recipes .recipe__details ul, .recipes .recipe__details p {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}
.recipes .recipe__details ul {
  grid-area: c;
  list-style: none;
  padding: 0;
}
.recipes .recipe__details p {
  display: block;
  grid-area: d;
  overflow: hidden;
  white-space: pre-line;
  text-overflow: ellipsis;
  height: 109px;
  width: 171px;
}

/*# sourceMappingURL=style.css.map */
