/* colors */
body, main {
  position: relative;
  max-width: 1240px;
  margin: auto;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.mx-3 {
  margin: 1em 0;
}

.my-3 {
  margin: 0 1em;
}

body {
  font-family: Lato, "DM Sans", sans-serif;
}

p {
  font-family: Roboto;
}

.btn {
  min-width: 170px;
  height: 69px;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: start;
  padding-left: 1em;
  position: relative;
}
.btn__primary {
  background-color: #698AF0;
}
.btn__secondary {
  background-color: #73D990;
}
.btn__tertiary {
  background-color: #D96A62;
}
.btn__group {
  display: flex;
  justify-content: start;
}

.input__search {
  width: 670px;
  height: 69px;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: start;
  padding-left: 1em;
  position: relative;
  outline: none;
  text-overflow: ellipsis;
}
.input__search__primary {
  background-color: #698AF0;
}
.input__search__secondary {
  background-color: #73D990;
}
.input__search__tertiary {
  background-color: #D96A62;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: darkslategrey;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: darkslategrey;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: darkslategrey;
}

.fa-search {
  position: absolute;
  right: 1em;
  top: 50%;
  font-size: 32px;
  margin-top: -16px;
}

.fa-chevron-down {
  position: absolute;
  right: 1em;
  top: 1.5em;
}

.fa-chevron-up {
  color: #fff;
  position: absolute;
  right: 1em;
  top: 1.5em;
  cursor: pointer;
}

.fa-times-circle {
  cursor: pointer;
  margin-left: 0.5em;
}

.header {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main form, .main .first__form {
  position: relative;
}
.main .first__form {
  margin: 1em auto;
}
.main .first__form__input {
  width: 100%;
  height: 69px;
  background-color: #E7E7E7;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 1em;
}

.btn__group__search {
  position: relative;
}

.ingredients__menu, .appliance__menu, .ustensils__menu {
  border-radius: 0 0 5px 5px;
  position: absolute;
  top: 65px;
  overflow: scroll;
  margin-top: -5px;
  list-style: none;
  padding: 0;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(222px, auto));
  width: 666px;
  max-height: 340px;
  font-size: 18px;
  padding: 12px;
  z-index: 4;
}
.ingredients__menu li, .appliance__menu li, .ustensils__menu li {
  padding: 5px;
  cursor: pointer;
  text-transform: capitalize;
}
.ingredients__menu li:hover, .appliance__menu li:hover, .ustensils__menu li:hover {
  color: #C7BEBE;
}

.ingredients__menu {
  background-color: #698AF0;
}

.appliance__menu {
  background-color: #73D990;
}

.ustensils__menu {
  background-color: #D96A62;
}

.selected__items {
  display: flex;
  justify-content: start;
  text-align: center;
  margin: 1em auto;
}
.selected__items .item {
  border-radius: 5px;
  padding: 0.5em 1em;
  margin-right: 0.5em;
  font-size: 14px;
  color: #fff;
}
.selected__items__ingredient {
  background-color: #698AF0;
}
.selected__items__appliance {
  background-color: #73D990;
}
.selected__items__ustensil {
  background-color: #D96A62;
}

.recipes {
  margin-top: 1.5em;
  margin-bottom: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, auto));
  gap: 50px;
}
.recipes .recipe {
  cursor: pointer;
  background-color: #E7E7E7;
  border-radius: 5px;
}
.recipes .recipe__img {
  height: 178px;
  background-color: #E7E7E7;
  border-radius: 5px 5px 0 0;
  text-align: center;
}
.recipes .recipe__img img {
  border-radius: 5px 5px 0 0;
  min-width: 380px;
  max-height: 178px;
  object-fit: cover;
}
.recipes .recipe__details {
  padding: 20px 18px 15px 20px;
  display: grid;
  grid-template-areas: "a a a b" "c c d d";
  height: 186px;
}
.recipes .recipe__details h2, .recipes .recipe__details h3 {
  margin: 0;
  font-size: 18px;
}
.recipes .recipe__details h2 {
  grid-area: a;
  font-weight: 400;
}
.recipes .recipe__details h3 {
  grid-area: b;
  font-weight: 700;
}
.recipes .recipe__details ul, .recipes .recipe__details p {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}
.recipes .recipe__details ul {
  grid-area: c;
  list-style: none;
  padding: 0;
}
.recipes .recipe__details p {
  display: block;
  grid-area: d;
  overflow: hidden;
  white-space: pre-line;
  text-overflow: ellipsis;
  height: 116px;
  width: 171px;
}

.alert h2 {
  padding: 1em;
  font-family: Lato, "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  opacity: 0;
  animation: opacityScale 0.3s forwards;
}

@keyframes opacityScale {
  0% {
    margin-left: 50%;
    opacity: 0;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    margin-left: 0%;
    opacity: 1;
  }
}
.recipe__modal {
  display: none;
  position: fixed;
  z-index: 12;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #fff;
}
.recipe__modal .fa-times {
  cursor: pointer;
  color: #698AF0;
  font-size: 50px;
  position: absolute;
  top: 0.7em;
  right: 1em;
}
.recipe__modal__lightbox {
  z-index: 13;
  margin: 5% auto;
  position: relative;
  width: 80%;
  max-width: 1240px;
  background-color: #E7E7E7;
  opacity: 0.8;
  border-radius: 15px;
  border: 2px solid rgba(199, 190, 190, 0.3);
  box-shadow: 12px 12px 2px 1px rgba(199, 190, 190, 0.3);
}
.recipe__modal__lightbox__details {
  padding: 3em 10em;
  display: grid;
  grid-template-areas: "a a a a" "c c d d" "e e d d" "f f d d";
}
.recipe__modal__lightbox__details h2 {
  grid-area: a;
  font-size: 30px;
  text-align: center;
}
.recipe__modal__lightbox__details .fa-clock {
  margin-left: 2em;
}
.recipe__modal__lightbox__details .details__ingredients {
  grid-area: c;
}
.recipe__modal__lightbox__details .details__appliance {
  grid-area: e;
}
.recipe__modal__lightbox__details .details__ustensils {
  grid-area: f;
}
.recipe__modal__lightbox__details .details__method {
  grid-area: d;
  max-width: 500px;
  text-align: justify;
  line-height: 200%;
}
.recipe__modal__lightbox__details .details__title {
  list-style: none;
  text-decoration: underline;
  margin-left: -15px;
  margin-bottom: 0.5em;
  font-size: 20px;
}
.recipe__modal__lightbox__details ul {
  padding-left: 0;
}

/*# sourceMappingURL=style.css.map */
