.fa-search{
    position: absolute;
    right: 1em;
    top: 50%;
    font-size: 32px;
    margin-top: -16px;
}

.fa-chevron-down{
    position: absolute;
    right: 1em;
    top: 1.5em;
}

.fa-chevron-up{
    color: $white;
    position: absolute;
    right: 1em;
    top: 1.5em;
    cursor: pointer;
    z-index: 5;
}

.fa-times-circle{
    margin-left: .5em;
}