.input__search{
    width: 670px;
    height: 69px;
    font-size: 18px;
    color: $white;
    border: none;
    border-radius: 5px;
    text-align: start;
    padding-left: 1em;
    position: relative;
    outline: none;
    text-overflow: ellipsis;
    &__primary{
        background-color: $primary;
    }
    &__secondary{
        background-color: $secondary;
    }
    &__tertiary{
        background-color: $tertiary;
    }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: darkslategrey;
    opacity: 1; /* Firefox */
}

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: darkslategrey;
}

    ::-ms-input-placeholder { /* Microsoft Edge */
    color: darkslategrey;
}