.input__search{
    min-width: 670px;
    height: 69px;
    font-size: 18px;
    color: $white;
    border: none;
    border-radius: 5px;
    text-align: start;
    padding-left: 1em;
    position: relative;
    outline: none;
    &__primary{
        background-color: $primary;
    }
    &__secondary{
        background-color: $secondary;
    }
    &__tertiary{
        background-color: $tertiary;
    }
}