body, main{
    position: relative;
    max-width: 1240px;
    margin: auto;
}

.d-none{
    display: none;
}

.d-block{
    display: block;
}

.mx-3{
    margin: 1em 0;
}

.my-3{
    margin: 0 1em;
}