/* colors */

$white:     #fff;
$black:     #000;
$blue:      #3282F7;
$green:     #68D9A4;
$orange:    #ED6454;
$grey:      #E7E7E7;
$lightgrey: #FAFAFA;


$primary: $blue;
$secondary: $green;
$tertiary: $orange;