/* colors */

$white:     #fff;
$black:     #000;
$blue:      #698AF0;
$green:     #73D990;
$orange:    #D96A62;
$grey:      #C7BEBE;
$lightgrey: #E7E7E7;


$primary: $blue;
$secondary: $green;
$tertiary: $orange;