.btn__group__search{
    position: relative;
}

.ingredients__menu, .appliance__menu, .ustensils__menu{
    border-radius: 0 0 5px 5px;
    position: absolute;
    top: 65px;
    overflow: hidden;
    width: 690px;
    margin-top: -5px;
    list-style: none;
    padding: 0;
    color: $white;
    display: grid;
    grid-template-columns: 
    repeat(auto-fill,
    minmax(222px, auto));
    max-width: 666px;
    max-height: 328px;
    font-size: 18px;
    padding: 12px;
    li{
        padding: 5px;
        cursor: pointer;
        &:hover{
            color: $grey;
        }
    }
}

.ingredients__menu{
    background-color: $primary;
}

.appliance__menu{
    background-color: $secondary;
}

.ustensils__menu{
    background-color: $tertiary;
}