.main{
    form, .first__form{
        position: relative;
    }   
    .first__form{
        margin: 1em auto;
        &__input{
            width: 100%;
            height: 69px;
            background-color: $lightgrey;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            padding-left: 1em;
        }
    }
}