.contact__modal{
    display: none;
    position: fixed;
    z-index: 12;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, .5);;
    &__box{
        opacity: 1;
        width: 668px;
        border-radius: 5px;
        background-color: $secondary;
        position: absolute;
        left: 50%;
        top: 68px;
        margin-left: -334px;
        padding: 1em;
        box-shadow: -5px 10px 30px rgba(0, 0, 0, 0.25);
        margin-bottom: 68px;
        &__title{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    h1{
        color: $black !important; 
        font-size: 64px;
        font-weight: 400;
        margin-top: 0;
    }
    .fas{
        color: $white;
        font-size: 64px;
    }
    label{
        font-size: 36px;
        font-weight: 400;
    }
    input{
        width: 98%;
        height: 68px;
        border-radius: 5px;
    }
    #message{
        height: 170px;
        margin-bottom: 26px;
    }
    .btn__primary{
        max-width: 170px;
        &:hover{
            border: 4px solid $primary;
        }
    }
}

@media screen and (max-width: 375px) {
    .contact__modal{
        &__box{
            max-width: 343px;
            left: 0;
            top: 0;
            margin-left: 0;
        }
        h1{
            font-size: 36px;
        }
        .fas{
            font-size: 19px;
        }
        label{
            font-size: 24px;
        }
        input{
            width: 338px;
            height: 52px;
        }
        #message{
            height: 160px;
        }
        .btn__primary{
            &:hover{
                border: 4px solid $primary;
            }
        }
    }
}

.photos__modal{
    display: none;
    position: fixed;
    z-index: 12;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: $white;
    .fas{
        color: $primary;
        font-size: 64px;
    }
    .fa-times{
        position: absolute;
        top: 1em;
        right: 1em;
    }
    .fa-chevron-left{
        position: absolute;
        top: 50%;
        margin-top: -32px;
        left: 1em;
    }
    .fa-chevron-right{
        position: absolute;
        top: 50%;
        margin-top: -32px;
        right: 1em;
    }
    img{
        max-width: 950px;
        max-height: 900px;
    }
    .media{
        padding: 1em;
    }
    video{
        max-width: 950px;
        max-height: 900px;
    }
    &__lightbox{
        text-align: center;
        max-width: 1253px;
        margin: 2em auto;
        position: relative;
    }
    h3{
        font-size: 24px;
        color: $primary;
        text-align: left;
        max-width: 950px;
        margin: auto;
    }
    button{
        background-color: transparent;
        border: none;
    }
}

@media screen and (max-width: 768px) {
    .photos__modal{
        .fas{
            font-size: 35px;
        }
        .fa-times{
            right: .5em;
        }
        .fa-chevron-left{
            left: .5em;
        }
        .fa-chevron-right{
            right: .5em;
        }
        img{
            max-width: 600px;
            max-height: 800px;
        }
        video{
            max-width: 600px;
            max-height: 800px;
        }
        &__lightbox{
            width: 700px;
            height: 900px;
            top: 5%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
        }
        .media{
            width: 700px;
        }
        h3{
            font-size: 18px;
            max-width: 600px;
        }
    }   
}

@media screen and (max-width: 375px) {
    .photos__modal{
        .fas{
            font-size: 16px;
        }
        .fa-chevron-left{
            margin-top: -8px;
        }
        .fa-chevron-right{
            margin-top: -8px;
        }
        img{
            max-width: 290px;
            max-height: 420px;
        }
        video{
            max-width: 290px;
        }
        &__lightbox{
            width: 375px;
            height: 450px;
            top: 15%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
        }
        .media{
            width: 375px;
        }
        h3{
            font-size: 14px;
            max-width: 290px;
        }
    }   
}