.recipes{
    margin-top: 1.5em;
    margin-bottom: 3em;
    display: grid;
    grid-template-columns: 
    repeat(auto-fill,
    minmax(380px, auto));
    gap: 50px;
    .recipe{
        cursor: pointer;
        background-color: $lightgrey;
        border-radius: 5px;
        &__img{
            height: 178px;
            background-color: $lightgrey;
            border-radius: 5px 5px 0 0;
            text-align: center;
            img{
                border-radius: 5px 5px 0 0;
                min-width: 380px;
                max-height: 178px;
                object-fit: cover;
            }
        }
        &__details{
            padding: 20px 18px 15px 20px;
            display: grid;
            grid-template-areas: 
                "a a a b"
                "c c d d";
            height: 186px;
            h2, h3{
                margin: 0;
                font-size: 18px;
            }
            h2{
                grid-area: a;
                font-weight: 400;
            }
            h3{
                grid-area: b;
                font-weight: 700;
            }
            ul, p{
                margin: 0;
                font-size: 12px;
                font-weight: 400;
            }
            ul{
                grid-area: c;
                list-style: none;
                padding: 0;
            }
            p{
                grid-area: d;
                overflow: hidden;
                white-space: pre-line;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 8;
                -webkit-box-orient: vertical;
                height: 113px;
                width: 171px;
            }
        }
    }
}