.recipes{
    margin-top: 1.5em;
    display: grid;
    grid-template-columns: 
    repeat(auto-fill,
    minmax(380px, auto));
    gap: 50px;
    .recipe{
        background-color: $lightgrey;
        border-radius: 5px;
        &__img{
            height: 178px;
            background-color: $grey;
            border-radius: 5px 5px 0 0;
        }
        &__details{
            padding: 1.5em;
            display: grid;
            grid-template-areas: 
                "a a a b"
                "c c d d";
            gap: 20px;
            h2, h3{
                margin: 0;
                font-size: 18px;
            }
            h2{
                grid-area: a;
                font-weight: 400;
            }
            h3{
                grid-area: b;
                font-weight: 700;
            }
            ul, p{
                margin: 0;
                font-size: 12px;
                font-weight: 400;
            }
            ul{
                grid-area: c;
                list-style: none;
                padding: 0;
            }
            p{
                grid-area: d;
            }
        }
    }
}